ol, ul {
    list-style: none
}

img, fieldset {
    border: none
}

.list-col li {
    display: inline-block;
    vertical-align: top
}

.list-col2 {
    margin-right: -30px;
}

.list-col2 li {
    width: 297px;
    margin: 0 30px 20px 0
}

.list-col5 {
    margin-right: -43px;
}

.list-col5 li {
    width: 90px;
    margin: 0 43px 15px 0;
    text-align: center
}

.cover {
    width: 110px;
    height: 164px;
    position: relative;
}

.cover img {
    -webkit-transition: opacity .5s ease-in;
    transition: opacity .5s ease-in;
    opacity: 1
}

.cover img.loading {
    opacity: 0
}

ul li, ol li {
    font-size: 12px
}

.cover-label {
    position: absolute;
    right: 0;
    top: 0;
    width: 54px;
    height: 54px;
    overflow: hidden;
    pointer-events: none;
}

.cover-label::before {
    position: absolute;
    padding: 2px 0;
    line-height: 1;
    color: #fff;
    width: 100%;
    top: 13px;
    right: 13px;
    -webkit-transform: translate(50%, -50%) rotate(45deg);
    transform: translate(50%, -50%) rotate(45deg);
    text-align: center;
    font-size: 8px;
}

.list-col5 {
    margin: 0;
}

.list-col5 .column-item {
    width: 150px;
    text-align: left;
    margin: 0 46px 25px 0;
}
/*
.list-col5 .column-item:nth-child(5n) {
    margin-right: 0
}*/

.list-col5 .cover {
    float: none;
    margin: 0 12px 0 0;
}

.list-col5 .cover img {
    width: 110px;
    height: 164px
}

.list-col5 .column-title {
    max-width: 150px
}

.list-col2 .cover, .list-col3 .cover {
    width: 90px;
    height: 134px
}

.list-col2 .info, .list-col3 .info {
    position: relative;
    margin-left: 103px
}

.list-col3 .column-item {
    width: 279px;
    margin: 0 30px 20px 0
}

.column-item .title {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.2
}

.column-item .subtitle {
    color: #222;
    max-width: 150px;
    min-height: 18px;
    margin-top: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    _width: 100%
}

.column-item .meta, .column-item .author {
    margin: 8px 0 0;
    color: #999;
    font-size: 0.5em;
}

.column-item .subscribe {
    margin: 12px 0
}

.column-item .sub-number, .column-item .finished-text {
    color: #999
}

.column-item .date {
    color: #999;
    margin-top: 5px
}

.column-item .rec-info {
    width: 216px;
    overflow: hidden;
    margin-top: 8px;
    padding-left: 22px; /*background-image: url(/f/ark/f447b06142514391e3d8c93e622545fe324ff865/pics/store/opening-double-quote.png);*/
    background-repeat: no-repeat;
    background-position: top left;
}

@media (min--moz-device-pixel-ratio: 1.3),(-o-min-device-pixel-ratio: 2.6/2),(-webkit-min-device-pixel-ratio: 1.3),(min-device-pixel-ratio: 1.3),(min-resolution: 1.3dppx) {
    .column-item .rec-info { /*background-image: url(/f/ark/0c9daa0d8c680ee7ac919960eb7061ad1d9bf907/pics/store/opening-double-quote@2x.png);*/
        background-size: 14px 9px
    }
}

.column-item .rec-info footer {
    color: #999;
    display: block;
    text-align: right;
    padding: 0
}

section {
    margin-right: 30px;
}

/*section .hd {*//*margin-bottom: 25px*//*}*/
section h3 {
    font-size: 18px;
    color: #333
}

section .lined {
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px
}

section .hd {
    margin-left: 15px
}

section a {
    font-size: 12px;
}

.column-intro {
    float: right
}

.column-banner .slide-main {
    width: 936px;
    margin: 0 auto
}

.column-banner .slide-screen {
    position: relative;
    width: 936px;
    height: 205px;
    margin-bottom: 8px;
    overflow: hidden
}

.column-banner .slide-item {
    display: inline-block;
    vertical-align: top;
}

.column-banner .slide-item img {
    width: 936px;
    height: 205px
}

.column-banner .slide-controls {
    height: 28px;
    text-align: right
}

.column-banner .dots, .column-banner .slide-btns {
    display: inline-block;
    vertical-align: top
}

.column-banner .dots {
    padding-top: 7px;
    margin-right: 7px;
}

.column-banner .dots li {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    margin-left: 5px;
    background: #d7d7d7;
}

.column-banner .dots li.active {
    background: #8a8a8a
}

.column-banner .slide-prev, .column-banner .slide-next {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font: 100 16px Arial;
    border-radius: 2px;
    background: #afab9e;
    margin-left: 5px;
}

.column-banner .slide-prev:active, .column-banner .slide-next:active {
    opacity: .8
}
